[user]
    name = Alexander Batischev
    email = eual.jp@gmail.com
    signingkey = 0x356961A20C8BFD03
[merge]
    tool = vimdiff
[diff]
    renames = copy
	algorithm = histogram
[push]
    default = upstream
[core]
    quotepath = false
[branch]
    autosetuprebase = always
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
    st = status
    di = diff
    ci = commit
    co = checkout
    lg = log --abbrev-commit --graph --all --decorate --oneline
[grep]
    lineNumber = true
[gpg]
	program = gpg2
[protocol]
	version = 2
[init]
	defaultBranch = main
[commit]
    gpgsign = true
[rerere]
	enabled = true
