# ignore everything but dotfiles 
*
!.*
!.*/**

/.xmonad/*.o
/.xmonad/*.hi
/.xmonad/lib/*.o
/.xmonad/lib/*.hi
/.xmonad/history
/.xmonad/xmonad-x86_64-linux
/.xmonad/xmonad-i386-linux
/.xmonad/xmonad.errors

/.zhistory
/.zcompdump

/.xsession-errors

/.vim/.netrwhist
/.vim/bundle/**/doc/tags
/.vim/spell/
/.vim/undofiles/
/.viminfo

/.vimperator/

/.task/*.data

/.newsbeuter/cache.db
/.newsbeuter/cache.db.lock
/.newsbeuter/history.cmdline
/.newsbeuter/history.search
/.newsbeuter/urls

/.ncmpcpp/error.log

/.ncftp/bookmarks
/.ncftp/firewall
/.ncftp/history
/.ncftp/init_v3
/.ncftp/log
/.ncftp/trace
/.ncftp/trace.*

/.mplayer/gui.*
/.mplayer/fonts/

/.cabal/*

/.hg/bin/*.pyc

/.mutt/cache/

/.fbless_save

/.mpd/

/.gconf/apps/%gconf.xml
/.gconf/apps/gnome-settings/
/.gconfd/

/.gnupg/pubring.gpg
/.gnupg/pubring.gpg~
/.gnupg/secring.gpg
/.gnupg/trustdb.gpg
/.gnupg/random_seed

/.irssi/away.log
/.irssi/config.autosave
/.irssi/logs/
/.irssi/otr/
/.irssi/sasl.auth

/.mcabber/logs/
/.mcabber/otr/

/.scripts/set-logitech-m570-sensitivity
/.scripts/start-redshift
/.scripts/vbeep

/.config/RawTherapee/
/.config/Scan Tailor/
/.config/Trash/
/.config/Trolltech.conf
/.config/chromium/
/.config/comix/
/.config/desktop-directories/
/.config/easytag/
/.config/geeqie/
/.config/gtk-2.0/
/.config/gvfs-metadata/
/.config/htop/
/.config/icons/
/.config/inkscape/
/.config/libreoffice/
/.config/mc/
/.config/menus/
/.config/mime
/.config/recently-used.xbel
/.config/rockbox.org/
/.config/vcsh/
/.config/webkit/
/.config/zathura/

/.arbtt/capture.log
/.arbtt/capture.log.lck

/.*_history
/.Xauthority
/.abook/
/.anki/
/.aptitude/
/.audacity-data/
/.backup.log
/.bazaar/ignore
/.bin/
/.bzr.log
/.cache/
/.darcs/
/.dbus/
/.dvdcss/
/.easytag/
/.elinks/
/.esd_auth
/.fehbg
/.fontconfig/
/.ghc/
/.gimp-2.8/
/.gstreamer-0.10/
/.icedtea/
/.java/
/.keychain/
/.lesshst
/.lftp/
/.lltag/
/.local/
/.lyrics/
/.matplotlib/
/.mc/
/.moc/
/.mozilla/
/.mutt_certificates
/.octave_hist
/.parcimonie.log
/.pki/
/.pulse-cookie
/.pulse/
/.pwsafe.dat
/.pwsafe.dat~
/.recently-used
/.rnd
/.selected_editor
/.sendxmpprc
/.slocdata/
/.sqlite_history
/.ssh/
/.syndaemon.pid
/.texmf-var/
/.thumbnails/
/.ufrawrc
/.w3m/
/.wireshark/
/.xchm
/.xdvirc
/.~lock.*#
/**/.~lock.*#
/.config/gegl-0.2/plug-ins/Makefile
/.dia/
/.subversion/
/.LuminanceHDR/
/.config/Luminance/
/.config/icedtea-web/
/.viking/
/.viking-maps/
/.RData
/.Rhistory
/.config/google-googletalkplugin/
/.hledger.journal
/.gnome/apps/chrome-gighmmpiobklfepjocnamgkkbiglidom-Default.desktop
/.config/applications/chrome-gighmmpiobklfepjocnamgkkbiglidom-Default.desktop
/.scripts/dropall
/.config/QtProject.conf
/.config/applications/chrome-gcbommkclmclpchllfjekcdonpmejbdp-Default.desktop
/.config/applications/chrome-mdpljndcmbeikfnlflcggaipgnhiedbl-Default.desktop
/.config/dconf/
/.gnome/apps/chrome-gcbommkclmclpchllfjekcdonpmejbdp-Default.desktop
/.gnome/apps/chrome-mdpljndcmbeikfnlflcggaipgnhiedbl-Default.desktop
/.gnome/apps/chrome-gighmmpiobklfepjocnamgkkbiglidom-Default.desktop
/.config/applications/wine-extension*
